<%- include('partials/header') %>
<%- include('partials/nav') %>


<% if (success && success.length > 0) { %>
  <p style="color: green;"><%= success %></p>
<% } %>

<% if (error && error.length > 0) { %>
  <p style="color: red;"><%= error %></p>
<% } %>

<h2>Login</h2>
<form method="POST" action="/login">
  <input name="email" type="email" placeholder="Email" required />
  <input name="password" type="password" placeholder="Password" required />
  <button>Login</button>
</form>

<%- include('partials/footer') %>